Imports

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

Import dataset

In [2]:
acs_db = pd.read_csv('../data/STRIKE_REPORTS.csv')
acs_db.shape

C:\Users\amhea\AppData\Local\Temp\ipykernel_23172\1960553405.py:1: DtypeWarning: Columns (18,21) have mixed types. Specify dtype option on import or set low_memory=False.
  acs_db = pd.read_csv('../data/STRIKE_REPORTS.csv')

(288810, 100)

Display an example piece of the data

In [3]:
acs_db.head()

,INDEX_NR,INCIDENT_DATE,INCIDENT_MONTH,INCIDENT_YEAR,TIME,TIME_OF_DAY,AIRPORT_ID,AIRPORT,LATITUDE,LONGITUDE,...,SIZE,NR_INJURIES,NR_FATALITIES,COMMENTS,REPORTED_NAME,REPORTED_TITLE,SOURCE,PERSON,LUPDATE,TRANSFER
0,608242,6/22/1996,6,1996,NaN,NaN,KSMF,SACRAMENTO INTL,38.69542,-121.59077,...,Medium,NaN,NaN,/Legacy Record=100001/,REDACTED,REDACTED,Air Transport Report,Air Transport Operations,12/20/2007,False
1,608243,6/26/1996,6,1996,NaN,NaN,KDEN,DENVER INTL AIRPORT,39.85841,-104.66700,...,Medium,NaN,NaN,/Legacy Record=100002/,REDACTED,REDACTED,Air Transport Report,Air Transport Operations,12/20/2007,False
2,608244,7/1/1996,7,1996,NaN,NaN,KOMA,EPPLEY AIRFIELD,41.30252,-95.89417,...,Medium,NaN,NaN,/Legacy Record=100003/,REDACTED,REDACTED,Air Transport Report,Air Transport Operations,12/20/2007,False
3,608245,7/1/1996,7,1996,NaN,NaN,KIAD,WASHINGTON DULLES INTL ARPT,38.94453,-77.45581,...,Medium,NaN,NaN,/Legacy Record=100004/,REDACTED,REDACTED,Air Transport Report,Air Transport Operations,12/20/2007,False
4,608246,7/1/1996,7,1996,NaN,NaN,KLGA,LA GUARDIA ARPT,40.77724,-73.87261,...,Medium,NaN,NaN,/Legacy Record=100005/,REDACTED,REDACTED,Air Transport Report,Air Transport Operations,12/20/2007,False

Check for any needed fields that have a NaN

In [12]:
acs_db = acs_db[acs_db["AIRPORT"] != "UNKNOWN"]
acs_db = acs_db.drop(["REPORTED_NAME", "REPORTED_TITLE"], axis=1)
acs_db

,INDEX_NR,INCIDENT_DATE,INCIDENT_MONTH,INCIDENT_YEAR,TIME,TIME_OF_DAY,AIRPORT_ID,AIRPORT,LATITUDE,LONGITUDE,...,NUM_SEEN,NUM_STRUCK,SIZE,NR_INJURIES,NR_FATALITIES,COMMENTS,SOURCE,PERSON,LUPDATE,TRANSFER
0,608242,6/22/1996,6,1996,NaN,NaN,KSMF,SACRAMENTO INTL,38.69542,-121.59077,...,NaN,1,Medium,NaN,NaN,/Legacy Record=100001/,Air Transport Report,Air Transport Operations,12/20/2007,False
1,608243,6/26/1996,6,1996,NaN,NaN,KDEN,DENVER INTL AIRPORT,39.85841,-104.66700,...,NaN,1,Medium,NaN,NaN,/Legacy Record=100002/,Air Transport Report,Air Transport Operations,12/20/2007,False
2,608244,7/1/1996,7,1996,NaN,NaN,KOMA,EPPLEY AIRFIELD,41.30252,-95.89417,...,NaN,1,Medium,NaN,NaN,/Legacy Record=100003/,Air Transport Report,Air Transport Operations,12/20/2007,False
3,608245,7/1/1996,7,1996,NaN,NaN,KIAD,WASHINGTON DULLES INTL ARPT,38.94453,-77.45581,...,NaN,1,Medium,NaN,NaN,/Legacy Record=100004/,Air Transport Report,Air Transport Operations,12/20/2007,False
4,608246,7/1/1996,7,1996,NaN,NaN,KLGA,LA GUARDIA ARPT,40.77724,-73.87261,...,NaN,1,Medium,NaN,NaN,/Legacy Record=100005/,Air Transport Report,Air Transport Operations,12/20/2007,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
288803,1472248,8/28/2023,8,2023,07:45,NaN,KBNA,NASHVILLE INTL,36.12448,-86.67818,...,NaN,1,Small,NaN,NaN,NaN,FAA Form 5200-7-E,Carcass Found,11/17/2023,False
288804,1472251,8/28/2023,8,2023,23:00,Night,KDEN,DENVER INTL AIRPORT,39.85841,-104.66700,...,1,1,Small,NaN,NaN,NaN,FAA Form 5200-7-E,Pilot,11/17/2023,False
288807,1472257,8/28/2023,8,2023,07:14,Dusk,KDTW,DETROIT METRO WAYNE COUNTY ARPT,42.21206,-83.34884,...,1,1,Small,NaN,NaN,NaN,FAA Form 5200-7-E,Airport Operations,11/17/2023,False
288808,1472258,8/28/2023,8,2023,09:00,Day,KPIH,POCATELLO REGIONAL ARPT,42.91131,-112.59586,...,2-10,2-10,Medium,NaN,NaN,NaN,FAA Form 5200-7-E,Airport Operations,11/17/2023,False
288809,1472259,8/28/2023,8,2023,10:15,NaN,KAMA,RICK HUSBAND AMARILLO INTL,35.21937,-101.70593,...,NaN,1,Small,NaN,NaN,NaN,FAA Form 5200-7-E,Carcass Found,11/17/2023,False

Printing the column titles

In [18]:
acs_db.columns

Index(['INDEX_NR', 'INCIDENT_DATE', 'INCIDENT_MONTH', 'INCIDENT_YEAR', 'TIME',
       'TIME_OF_DAY', 'AIRPORT_ID', 'AIRPORT', 'LATITUDE', 'LONGITUDE',
       'RUNWAY', 'STATE', 'FAAREGION', 'LOCATION', 'ENROUTE_STATE', 'OPID',
       'OPERATOR', 'REG', 'FLT', 'AIRCRAFT', 'AMA', 'AMO', 'EMA', 'EMO',
       'AC_CLASS', 'AC_MASS', 'TYPE_ENG', 'NUM_ENGS', 'ENG_1_POS', 'ENG_2_POS',
       'ENG_3_POS', 'ENG_4_POS', 'PHASE_OF_FLIGHT', 'HEIGHT', 'SPEED',
       'DISTANCE', 'SKY', 'PRECIPITATION', 'AOS', 'COST_REPAIRS', 'COST_OTHER',
       'COST_REPAIRS_INFL_ADJ', 'COST_OTHER_INFL_ADJ', 'INGESTED_OTHER',
       'INDICATED_DAMAGE', 'DAMAGE_LEVEL', 'STR_RAD', 'DAM_RAD',
       'STR_WINDSHLD', 'DAM_WINDSHLD', 'STR_NOSE', 'DAM_NOSE', 'STR_ENG1',
       'DAM_ENG1', 'ING_ENG1', 'STR_ENG2', 'DAM_ENG2', 'ING_ENG2', 'STR_ENG3',
       'DAM_ENG3', 'ING_ENG3', 'STR_ENG4', 'DAM_ENG4', 'ING_ENG4', 'STR_PROP',
       'DAM_PROP', 'STR_WING_ROT', 'DAM_WING_ROT', 'STR_FUSE', 'DAM_FUSE',
       'STR_LG', 'DAM_LG', 'STR_TAIL', 'DAM_TAIL', 'STR_LGHTS', 'DAM_LGHTS',
       'STR_OTHER', 'DAM_OTHER', 'OTHER_SPECIFY', 'EFFECT', 'EFFECT_OTHER',
       'BIRD_BAND_NUMBER', 'SPECIES_ID', 'SPECIES', 'REMARKS',
       'REMAINS_COLLECTED', 'REMAINS_SENT', 'WARNED', 'NUM_SEEN', 'NUM_STRUCK',
       'SIZE', 'NR_INJURIES', 'NR_FATALITIES', 'COMMENTS', 'SOURCE', 'PERSON',
       'LUPDATE', 'TRANSFER'],
      dtype='object')

Seeing what the comments look like

In [20]:
acs_db["COMMENTS"].sample(5)
#Good amount of NaN variables

26041                                /Legacy Record=200297/
135864    SOURCE = TWO 5200-7 (2014-6-20-084659, R1) /Le...
282051                                                  NaN
207405                                                  NaN
141000    SOURCE = TWO 5200-7 (2014-9-8-184805)  MOR BUR...
Name: COMMENTS, dtype: object